<h1 class="text-center my-4">Lista dei Post</h1>
<div class="container">

  <!-- MODALE DETTAGLIO POST -->
  <app-post-detail 
    *ngIf="selectedPost" 
    [post]="selectedPost" 
    [user]="selectedUser" 
    (close)="closeDetail()">
  </app-post-detail>

  <!-- LISTA POST -->
  <div *ngFor="let post of posts" class="post-item border-bottom p-3 d-flex align-items-center">
    
    <!-- SOLO QUESTA DIV APRE LA MODALE -->
    <div class="user-avatar me-3" (click)="showPostDetail(post)">
      {{ getUserInitials(post.userId) }}
    </div>

    <!-- IL CONTENUTO DEL POST NON APRIRÀ LA MODALE -->
    <div class="post-content">
      <h2 class="fw-bold text-danger">{{ post.title }}</h2>
      <p>{{ post.body }}</p>
      <p class="username">pubblicato da:
        <a [routerLink]="['/user', post.userId]" (click)="$event.stopPropagation()" 
          class="text-decoration-none text-primary fw-semibold">
          {{ getUser(post.userId)?.username }}
        </a>
      </p>
    </div>
  </div>
</div>
